//dd8.rc
#include "windows.h"
#include "dd8.h"

// English (U.S.) resources
#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_ENU)
#ifdef _WIN32
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
#pragma code_page(1252)
#endif //_WIN32

// Menu
MYMENU_002 MENU DISCARDABLE
BEGIN
   POPUP "&FIRST"
   BEGIN
     MENUITEM "&ALPHA\tF2",     IDM_ALPHA
     MENUITEM "&BETA\tF3",      IDM_BETA
   END
   
   POPUP "&SECOND"
   BEGIN
   MENUITEM "&GAMMA\tShift+G",  IDM_GAMMA
      POPUP "&DELTA"
      BEGIN
         MENUITEM "&EPSILON\tCtrl+E", IDM_EPSILON
         MENUITEM "&ZETA\tCtrl+Z",    IDM_ZETA
      END
   MENUITEM "&ETA\tCtrl+F4",    IDM_ETA
   MENUITEM "&THETA\tF5",       IDM_THETA
   END
   MENUITEM "&HELP",            IDM_HELP
END

// Accelerator
MYMENU_002 ACCELERATORS MOVEABLE PURE
BEGIN
   VK_F2, IDM_ALPHA, VIRTKEY
   VK_F3, IDM_BETA, VIRTKEY
   "G",   IDM_GAMMA, ASCII
   "^E",  IDM_EPSILON, ASCII
   "^Z",  IDM_ZETA, ASCII
   VK_F4, IDM_ETA, VIRTKEY, CONTROL
   VK_F5, IDM_THETA, VIRTKEY
   VK_F1, IDM_HELP, VIRTKEY
END
#endif // English (U.S.) resources
